<% provide(:title, 'Horas de clase | Ludus app') %>
<h1>Horas</h1>

<ul class="trainings">
  <% @trainings.each do |training| %>
  <li>
    <%= link_to training.hora, training_path(training) %>
  </li>
  <% end %>
</ul>
