


<class="trainings">
  <% @trainings.each do |training| %>
<h2>
    <%= link_to training.hora, box_training_path(training.box, training), class: "btn btn-sm btn-default" %>
  </h2>
  <% end %>
</class>
