<% provide(:title, 'Clase | Ludus app') %>
<div class="row">
    <section>
      <h1>
HORA: <%= @training.hora %>
      </h1>
    </section>
    <section>
      <h1>
CUPOS: <%= @training.cantidad %>
      </h1>
    </section>

    <center>
    <%= render 'bookings/booking_form' if logged_in? %>
    <%= render 'bookings/index_bookings' if logged_in? %>
    </center>
