<% provide(:title, 'Informacion | Box app') %>
<h4>--------------</h4>
<h4>--------------</h4>

<h1>Informacion</h1>

  <h2>
    Precios "con iva"
  </h2>
<center>
  <p> Inscripcion: 20.000 BSF </p>
  <p> Fundamentals: 40.000 BSF </p>
  <p> Mensualidad: 80.000 BSF </p>
  <p> Semana: 30.000 BSF </p>
  <p> Clases personalizadas: 4.000 BSF </p>

</center>
