<% provide(:title, 'Informacion | Box app') %>
<h1>Informacion</h1>

  <h2>
    Precios "con iva"
  </h2>
<center>
  <p> Inscripcion: 9000BSF </p>
  <p> Fundamentals: 13500BSF </p>
  <p> Mensualidad: 36000BSF </p>
  <p> Dia: 4000BSF </p>
  <p> Semana: 16000BSF </p>
</center>
