<% provide(:title, 'Informacion | Box app') %>
<h1>Informacion</h1>

  <h2>
    Precios "con iva"
  </h2>
<center>
  <p> Inscripcion: 10.000 BSF </p>
  <p> Fundamentals: 16.000 BSF </p>
  <p> Mensualidad: 42.000 BSF </p>
  <p> Semana: 16.000BSF </p>
  <p> Clases personalizadas: 2500BSF </p>

</center>
