<% provide(:title, 'Contacto | Box app') %>
<h1>Contacto</h1>
<p>Numero de oficina: 02614353113</p>
<p>Correo: informacion@ludusbox.com.ve</p>
<p>Direccion: Calle 72 casa2e-60 Sector Serros de Marin,
   atras del antiguo galpon de GPS Straker. Maracaibo, Venezuela</p>
<p> Numero de cuenta Banesco: 0134-0001-6900-1118-1519</p>
<p>RIF: J-406179272, GRUPO SPARTAN, CA </p>
