<% provide(:title, 'Contacto | Box app') %>
<h1>Contacto</h1>
<p>
Numero de oficina: 02614353113</p>
<p>Email: informacion@ludusbox.com.ve</p>
<p>Direccion: Calle 72 casa2e-60 Sector Serros de Marin, atras del antiguo galpon de GPS Straker. Maracaibo, Venezuela
</p>
