<% provide(:title, 'Inicio | Box app') %>

<% if logged_in? %>
<h1>Reserva tu clase ahora!</h1>
<h2>Pronto mas cosas</h2>

<% else %>

<center>
<%= link_to image_tag("boxapp4.png", :size => "360x200") %>
</center>
<center>
<%= link_to "Iniciar sesion", login_path, class: "btn btn-lg btn-primary" %>
<%= link_to "Registrarse", signup_path, class: "btn btn-lg btn-default" %>
</center>
<% end %>
