<% provide(:title, 'Inicio | Box app') %>
<h4>-------<h4>


<% if logged_in? %>
<h1>Reserva tu clase ahora!</h1>
<h2>Pronto mas cosas</h2>

<% else %>

<h3>
<%= link_to image_tag("boxapp4.png", :size => "330x200"), class: "img" %>
</h3>
<center>
<%= link_to "Iniciar sesion", login_path, class: "btn btn-lg btn-primary" %>
<%= link_to "Registrarse", signup_path, class: "btn btn-lg btn-default" %>
</center>
<% end %>
