<% provide(:title, 'Inicio | Box app') %>


<% if logged_in? %>
<h1>Reserva tu clase ahora!</h1>
<h2>Pronto mas cosas</h2>

<% else %>

<div class="center jumbotron">
  <h1>Bienvenido a Box App</h1>
  <%= link_to "Registrate", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>
