<% provide(:title, 'Clase | Ludus app') %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
HORA: <%= @training.hora %>
      </h1>
    </section>
    <section>
      <h1>
CUPOS: <%= @training.cantidad %>
      </h1>
    </section>

        <%= render 'book_form' if logged_in? %>
      
