<% unless current_user?(@user) %>
<% if current_user.trainings.include?(@training) %>
  <%= link_to "Cancelar reserva",
      training_booking_path(@training, @training.bookings.where(user:
      current_user).first),
      method: :delete, data:{ confirm: 'Estas segur@ que deseas cancelar tu reserva?' },
      class: "btn btn-primary" %>
  <% else %>
    <h2> Ya has reservado en otra hora </h2>
  <% end %>
  <% if current_user.trainings.any? %>
    <% else %>
      <%= link_to "Reservar", new_training_booking_path(@training,
      @training.bookings.where(user: current_user).first),
      class: "btn btn-primary" %>
    <% end %>
<% end %>
