<% provide(:title, 'Horas de clase | Ludus app') %>
<h1>Usuarios reservados</h1>

<ul class="bookings">
  <% @bookings.each do |booking| %>
  <li>
    <span class="user"><%= link_to booking.user.name, booking.user %></span>
  </li>
  <% end %>
</ul>
