<% provide(:title, 'Reservados | Box app') %>
<h4>--------------</h4>
<h4>--------------</h4>


<h1>USUARIOS RESERVADOS</h1>
<class="bookings">
  <% @bookings.each do |booking| %>
   <h2>CLASE DE<class="training">  <%= p booking.training.hora %></h2>
  <li>
    <class="user"><%= link_to booking.user.name, booking.user %></class>
  </li>
  <% end %>
    <% @guests.each do |guest| %>
    <li>
    <%=  p guest.name %>
    <% if current_user?(guest.user) %>
    | <%= link_to "eliminar", training_guest_path(guest.training, guest), :method => :delete,
                        data: { confirm: "Estas seguro?" } %>
                            </span>
    </li>
    <% end %>
<% end %>
