<% provide(:title, 'Clase | Ludus app') %>
<div class="row">
<div class="col-md-8">
    <% if @training.bookings.any? %>
      <h3>Reservaciones (<%= @training.bookings.count %>)</h3>
      <ol class="bookings">
        <%= render @bookings %>
      </ol>
      <%= will_paginate @bookings %>
    <% end %>
  </div>
</div>
