<% provide(:title, 'Todos los usuarios | Box app') %>
<h4>--------------</h4>

<h1>TODOS LOS USUARIOS</h1>

<%= will_paginate %>
  <% @users.each do |user| %>
 <%= render user %>
<% end %>


<%= will_paginate %>


Usuarios registrados: <%= User.count %>
