<% provide(:title, 'Perfil de usuario | Ludus app') %>

<div class="row">
    <section>
      <h1>
        Nombre: <%= @user.name %>
      </h1>
    </section>
    <section>
      <h1>
      Cedula:  <%= @user.ci %>
      </h1>
    </section>
