<% provide(:title, 'RM | Box app') %>
<h1> RM:
 </h1>

<ul class="rms">
  <% @rms.each do |rm| %>
  <li>
    <%= p rm.content %>
    <%= p  rm.quantity %>
    <%= p rm.max %>
  </li>
  <% end %>
</ul>
